@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="p-5 mb-2  text-dark" >Welcome to Rise & Shine @@Home Car Wash</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
