@model RiseAndShine.Models.ViewModels.UserProfileViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ServiceRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*@Html.Hidden("carId", Context.Request.Query["Id"])*@
            <div class="form-group">
                <input asp-for="ServiceRequest.Id" type="hidden"/>
            </div>
            <div class="form-group">
                <input asp-for="ServiceRequest.CarId" type="hidden"/>
            </div>
            @*<div class="form-group">
            <label asp-for="PackageType.Name" class="control-label"></label>
                <select asp-for="PackageType.Name" class="form-control" />
                <span asp-validation-for="PackageType.Id" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
            <label asp-for="Vehicle.Make" class="control-label"></label>
            <input asp-for="Vehicle.Make" class="form-control" />
            <span asp-validation-for="Vehicle.Make" class="text-danger"></span>
            </div>*@


            <select asp-for="ServiceRequest.PackageType.Id" class="form-control">
                <label asp-for="ServiceRequest.PackageType.Id" class="control-label"></label>
                <option value="ServiceRequest.PackageType.Id">select package type...</option>               
                @foreach (PackageType pt in Model.PackageTypes)
                {
                    <option value="@pt.Id">@($"{pt.Name} ${pt.Price}")</option>
                }
            </select>


          @*   <select class="form-group">
            <label asp-for="PackageType.Name" class="control-label"></label>
            <select asp-for="PackageType.Name" class="form-control" />
            <span asp-validation-for="PackageType.Name" class="text-danger"></span>
            </select>*@

            <div class="form-group">
                <label asp-for="ServiceRequest.ServiceDate" class="control-label"></label>
                <input asp-for="ServiceRequest.ServiceDate" class="form-control" />
                <span asp-validation-for="ServiceRequest.ServiceDate" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="ServiceProviderId" class="control-label"></label>
            <input asp-for="ServiceProviderId" class="form-control" />
            <span asp-validation-for="ServiceProviderId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="ServiceRequest.Note" class="control-label"></label>
                <input asp-for="ServiceRequest.Note" class="form-control" />
                <span asp-validation-for="ServiceRequest.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

